html, body {
    margin: 0;
    height: 100%;
    background: #f6f6f6;
}
.optionButton {
    margin: 16px;
}
.relative {
    position: relative;
}
.width100p {
    width: 100%;
}
.centerText {
    text-align: center;
}
.audioButtonGroup {
    position: relative;
    min-height: 300px;
}
.volumeSlider {
    margin-right: 6px;
    padding: 20px 0 !important
}
